<nav class="menubar" style="background: #727272;">
    <ul class="nav navbar-nav pull-left">
        <li>
            <a style="border: none;"
               title="Collapse/expand resource list panel"
               ng-click="view.collapseList()">
                <i class="fa fa-bars"></i>
            </a>
        </li>
    </ul>

    <ul id="MenuButtons" class="nav navbar-nav pull-right navbar">
        <li>
            <a ng-show="view.resourceSets && view.resourceSets.length > 0"
               ng-click="view.onExportResxResourcesClick()"
               title="Export all resources to Resx files">
                <i class="fa fa-download"></i> Export Resx
            </a>
        </li>
        <li>
            <a ng-show="view.resourceSets && view.resourceSets.length > 0"
               ng-click="view.onImportResxResourcesClick()"
               title="Import all Resx resources from project path">
                <i class="fa fa-upload"></i> Import Resx
            </a>
        </li>
        <li>
            <a ng-click="view.onCreateClassClick()"
               ng-show="view.resourceSets && view.resourceSets.length > 0"
               title="Generate strongly typed classes from ResourceSets">
                <i class="fa fa-code" style="font-weight: bold;"></i> Create Class
            </a>
        </li>
        <li>
            <a ng-show="view.resourceSets && view.resourceSets.length > 0"
               ng-click="view.onReloadResourcesClick()"
               xtitle="Force database resources for the application to reload">
                <i class="fa fa-refresh"></i> Reload Resources
            </a>
        </li>
        <li>
            <a ng-show="!view.resourceSets || view.resourceSets.length < 1"
               ng-click="view.onCreateDatabaseClick()"
               title="Create a new translation table if it doesn't exist">
                <i class="fa fa-plus-square"></i> Create Table
            </a>

        </li>
        <li>
            <a ng-show="view.resourceSets && view.resourceSets.length > 0"
               ng-click="view.onBackupClick()"
               title="Backup resource database to a backup table">
                <i class="fa fa-save"></i> Backup
            </a>
        </li>
        <li>
            <a href="../"
               title="Back to site home">
                <i class="fa fa-home"></i>
            </a>
        </li>
    </ul>

    <div class="clearfix"></div>
</nav>