Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
_*.htm*
[Bb]in
[Dd]ebug*/
[Pp]ackages/
App_Data*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
node_modules/
.idea/
.vs/
.vscode/
/Westwind.ApplicationConfiguration.WebSample/Properties/PublishProfiles/*.pubxml
.vs/config/applicationhost.config
LocalizationAdminHtml/content/
