html, body {
    font-size: 11pt;
}
body {
    overflow-x: hidden;
}
.page-header-text{
    font-size: 1.8em;
    font-weight: bold;
    color: steelblue;
}
h2,h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    font-weight: bold;
}
h3 {
    color: steelblue;
}
#TitleBar {
    position: absolute;
    top: 18px;
    left: 8px;
    z-index: 11;
}
#Toolbar {
    display: none;   
}
#Toolbar-Top {    
}
#TopMenu {
}

    #TopMenu input {
        color: #535353;
        padding: 4px 5px;
        height: auto;
    }
    #MainView {
        position: absolute;
        left: 0;
        top: 58px;
        bottom: 0;
        width:100%;
        z-index: 11;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;  
    }

.banner {
    background: #535353;
    color: #e1e1e1;
    border-bottom: solid 1px black;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 15px;
    height: 58px;
    width: 100%;
    z-index: 10;   
}

    .banner.active {
        color: white;
        font-weight: bolder;
    }


.banner nav {
    display: inline-block;    
    margin-right: 3px;
    padding: 4px;    
}
    .banner nav a, .banner nav input {
        display: inline-block;
        padding: 6px 6px 6px;
        color: #e1e1e1;
        text-decoration: none;
    }
     .banner nav a img {
        height: 23px; 
        vertical-align: top;
    }


    .banner nav a:hover {
        color: white;
        background: #767676;
        text-decoration: none;
        border-bottom: solid 4px silver;
        border-radius: 2px;
    }

    .banner nav a.active, .banner nav a.selected   
     {
        color: white;        
        font-weight: bold;
        border-bottom: solid 4px orange;
        border-radius: 2px;
    }
  .banner-bottom {
    position: fixed;
    bottom: 0;
    top: auto;
    text-align: center;
    padding-top: inherit;      
    height: 43px;
    display: none;
}
  .banner-bottom a {
        margin: 0 20px;      
    }

    @media(max-width: 640px) {
        .banner nav a span {
            display: none;
        }
    }

.album {
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 6px;
    height: 135px;
    overflow-y:hidden;
    float: left;
    max-width: 300px;
        
    transition: background linear 275ms;
    position: relative;
}
    .album:hover {
        background: steelblue;
        color: white !important;
        cursor: pointer;        
    }
    .album:hover .album-overlay {
        display: block;
    }
    .album-overlay {
        position: relative;
        float: right;
        background: #034e8d;
        color: whitesmoke;        
        padding: 5px;        
        min-width: 40px;
        display: none;
        margin-top: -10px;
        margin-right: -10px;
        border-radius: 3px;
        opacity: 0.85;
        z-index: 1000;
        box-shadow: 2px 2px 4px #535353;

    }.album-overlay:hover {
         opacity: 1;
     }
    .album-overlay a, .album-overlay a:hover {
        color: beige;
        text-decoration: none;
    }
    .album-overlay a:hover {        
        color: white;
    }

.album-title {
    font-weight: bold;
}

.album-title-big {
    font-weight: bold;
    font-size: 1.55em;
}

.album-descript {
    font-size: 0.85em;          
    overflow: hidden;
}

.album-artist {
    font-size: 0.85em;
    font-style: italic;
    color: #2a5fb4;
}

.album-year {
    font-size: 0.85em;
    color: steelblue;
}


.album-image,.album-image-big {
    width: 72px;
    float: left;
    border-radius: 35px;
}
.album-image-big {
    width: auto;
    float: none;
    max-width: 95%;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #535353;
}
@media(max-width: 768px){
    .album-image-big {
        margin-bottom: 10px;
    }
}

.song { 
    font-size: .85em;
    padding: 5px;
    border-bottom: 1px dashed silver;
}

.separator {
    border-bottom: 1px solid lightgrey;
    margin: 5px auto 15px;
    height: 1px;
}


.resource-editor-icon, .resource-editor-icon:hover,  .resource-editor-icon:visited {
    position: absolute;
    display: inline;
    height: 13px;
    width: 13px;     
    text-decoration: none;
    zIndex: 999999;                 
    margin: -14px 0 0 -2px;
    cursor: pointer; 
    opacity: 0.45;                                   
}
.resource-editor-icon:hover {
    opacity: 1;         
}
.resource-editor-icon:before {
    font-family: fontawesome;
    content: "\f024";   /*flag*/ 
    /*font-family: Arial;
    content: "#";*/
    font-size: 9pt;              
    color: red;                      
}
.resource-editor-button {   
        z-index: 999999; 
        color: white;        
        background-color: DarkGreen;
        opacity: 0.35;     
        position: fixed;
        bottom: 10px;
        right: 20px;
        padding: 7px 9px 5px 10px;        
        border-radius: 50%;
}
.resource-editor-button.off {
    background-color: #b64545;
}
.resource-editor-button:before{
 font-family: fontawesome;
        content: "\f024"; /* flag */
        font-size: 14pt;
}
.resource-editor-button:hover {
    font-family: fontawesome;
    opacity: 0.65;
}



input.ng-invalid,textarea.ng-invalid,select.ng-invalid {
    background: pink;
}


@media (max-width: 690px) {
    .album {
        max-width: 100% !important;
        min-height: 100px;
    }

    #Toolbar-Top {
        display: none;
    }
    #Toolbar {
        display: block;
    }
    .banner-bottom {
        display: block;
    }
    #MainView {
        bottom: 43px;
    }
}

.modal {
    position: absolute;
    top: 0;
    z-index: 1040;        
}
.modal-dialog {
    margin: 2px auto;   
}
.modal-header {
    padding: 15px 15px 5px;
}
.modal-body {
    padding: 10px 20px 5px 20px;
}


@-webkit-keyframes slideOutLeft {    
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }	
}
@keyframes slideOutLeft {

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* slide in from the bottom */
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0%);
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0%);
        transform: translateX(0);
    }
}

.slide-animation {
    left: 0;           
    -webkit-transition: left 1s ease;    
    transition: all 0.5s ease;
}
.slide-animation.ng-leave-active  {
    left: -100% !important;
    overflow: hidden !important;
}
.slide-animation.ng-enter  {
    left: 100% !important;
    -webkit-transition: none;
    transition: none;
    overflow: hidden !important;        
}
.xslide-animation.ng-enter-stagger {
  /* 200ms will be applied between each sucessive enter operation */ 
  -webkit-transition-delay:0.7s;
  overflow: hidden !important;
  transition-delay:0.7s;

  /* this is here to avoid accidental CSS inheritance */
  -webkit-transition-duration:0;  
  transition-duration:0;
}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}