body {        
}
.page-header-text{
    font-size: 1.8em;
    font-weight: bold;
    color: steelblue;
}
h2,h3 {
    font-family: 'Trebuchet','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    font-weight: bold;
}
h3 {
    color: steelblue;
}
#TitleBar {
    position: fixed;
    top: 10px;
    left: 8px;
    z-index: 100;
}
#ListPanel,#ContentPanel {
    position: absolute;    
    top: 20px;
    left: 0;    
    bottom: 0px;
    width: 310px;
    xbackground: steelblue;
    xborder-right: 1px #e1e1e1 solid;
    padding: 0 ;    
}
#ListPanel select {
    position: absolute;
    width: 310px;    
    top: 35px;
    bottom: 1px;        
    left: 0;
    right: 0;
    border-radius: 0;
    border: none;    
}
#ContentPanel {        
    left: 310px;
    right: 0;    
    width: auto;
    padding: 0px 20px 10px;
    overflow-x: auto;
}
#TopMenu {
}
#SearchBox {
    width: 220px;
}
@media(max-width: 500px) {
    #SearchBox {
        width: 135px;
    }    
}
    #TopMenu input {
        color: #535353;
        padding: 4px 5px;
        height: auto;
    }
.banner {
    background: #535353;
    color: #e1e1e1;
    border-bottom: solid 1px black;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 15px;
    height: 50px;
    width: 100%;
    z-index: 10;   
}
    .banner.active {
        color: white;
        font-weight: bolder;
    }


.banner nav {
    display: inline-block;
    margin-top: 2px;
    margin-right: 3px;
    padding: 0;    
}

    .banner nav a, .banner nav input {
        display: inline-block;
        padding: 7px 5px;
        color: #e1e1e1;
        text-decoration: none;
    }

    .banner nav a:hover {
        color: white;
        background: #767676;
        text-decoration: none;
        border-bottom: solid 4px silver;
        border-radius: 2px;
    }

    .banner nav a.active, .banner nav a.selected {
        color: white;        
        font-weight: bold;
        border-bottom: solid 4px orange;
        border-radius: 2px;
    }
    @media(max-width: 640px) {
        .banner nav a span {
            display: none;
        }
    }


  
.color-check {
    color: #009f00;
}
.hrstyle {
    margin: 10px 0;
}
.clickable {
    cursor: pointer;
}


.separator {
    border-bottom: 1px solid lightgrey;
    margin: 5px auto 15px;
    height: 1px;
}

input.ng-invalid,textarea.ng-invalid,select.ng-invalid {
    background: pink;
}


@media (max-width: 690px) {
    .album {
        max-width: 100% !important;
        min-height: 100px;
    }

}


.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
   border-bottom: solid 2px transparent;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    color: white;
    background: #535353 !important;
    border-bottom: solid 2px darkorange;
    border-radius: 2px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a.selected {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    color: white;
    background: #535353 !important;
        border-bottom: solid 2px orange;
    border-radius: 2px;
}
.modal-dialog {
    margin: 30px auto;
}
.modal-header {
    padding: 15px 15px 5px;
}
.modal-body {
    padding: 10px 20px 5px 20px;
}

@-webkit-keyframes slideOutLeft {    
    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }	
}
@keyframes slideOutLeft {

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* slide in from the bottom */
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0%);
        transform: translateX(0);
    }
}
@keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0%);
        transform: translateX(0);
    }
}

.slide-animation.ng-enter {
    -webkit-animation: slideInRight 0.70s both ease-in;
    animation: slideInRight 0.70s both ease-in;
    z-index: 9999;    
}

.slide-animation.ng-leave {
   -webkit-animation: slideOutLeft 0.35s both ease-in;
    animation: slideOutLeft 0.35s both ease-in;
    z-index: 8888;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}