<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.96.0" targetFramework="net45" />
  <package id="Westwind.Globalization" version="1.998" targetFramework="net45" />
  <package id="Westwind.Utilities" version="3.0.1" targetFramework="net45" />
  <package id="Westwind.Web" version="2.75" targetFramework="net45" />
  <package id="Westwind.Web.WebForms" version="2.64" targetFramework="net45" />
</packages>