<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DbResourceProvider" type="Westwind.Globalization.DbResourceProviderSection,Westwind.Globalization" requirePermission="false"/>
  </configSections>

  <!-- Using ConnectionStrings entry. You can also use a full SQL connection string. -->
  <DbResourceProvider connectionString="DevSamples" resourceTableName="Localizations" designTimeVirtualPath="/internationalization" showLocalizationControlOptions="true" showControlIcons="true" localizationFormWebPath="~/localizationadmin/LocalizationAdmin.aspx" addMissingResources="false" useVsNetResourceNaming="false" stronglyTypedGlobalResource="~/App_Code/Resources.cs,AppResources" bingClientId="2f33ee00-4b99-47ed-be7e-caf733526020" bingClientSecret="/eqI2u1Twonwk9el2WHClVuvmV2TCwIzc28criDVeEA="/>

  <connectionStrings>
    
    <add name="DevSamples" connectionString="server=.;database=devsamples;integrated security=true;"/>    
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
