<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="Westwind.Globalization" version="1.992" targetFramework="net45" />
  <package id="Westwind.Utilities" version="2.50.0" targetFramework="net45" />
  <package id="Westwind.Web" version="2.50.0" targetFramework="net45" />
  <package id="Westwind.Web.WebForms" version="2.50.0" targetFramework="net45" />
</packages>