<?xml version="1.0"?>
<!-- 
    Note: This web.config file is used purely to restrict
    access to this directory. The setting below limits
    access to authenticated users, but it depends on your
    main configuration file on how that works exactly.
    
    If you want open access simply comment out the authorization
    settings.
-->
<configuration>
    <system.web>
      <authorization>
        <!-- Authenticated users only -->
        <!--<deny users="?"/>-->
      </authorization>      
    </system.web>
</configuration>
