<div class="modal fade" ng-controller="translateController as view"
     id="TranslateDialog" tabindex="-1" role="dialog"
     aria-labelledby="myModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="TranslateTitle">Translate Resource</h3>
            </div>
            <div class="modal-body">

                <div class="form-inline form-group">
                    <div class="form-group">
                        <label xclass="sr-only" for="exampleInputEmail3">From:</label>
                        <input type="text" class="form-control" ng-model="view.fromLang" placeholder="From"
                               style="width: 60px;"  />
                    </div>
                    <div class="form-group">
                        <label xclass="sr-only" for="exampleInputPassword3"> &nbsp;To:</label>
                        <input style="width: 60px;" type="text" class="form-control" ng-model="view.toLang" placeholder="To">
                    </div>                                     
                </div>

                <div class="form-group">
                    <label class="control-label" for="form-group-input">Text to translate</label>
                    <textarea class="form-control" ng-model="view.inputText" placeholder="Text to translates">
                    </textarea>
                </div>

                <hr class="hrstyle"/>

                <div class="form-group">
                    <label class="control-label" for="form-group-input">Google Translation:</label>
                    <textarea class="form-control" ng-model="view.googleTranslation" placeholder="Text to translates">                        
                    </textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" for="form-group-input">Bing Translation:</label>
                    <textarea class="form-control" ng-model="view.bingTranslation" placeholder="Text to translates">
                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>