<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Localization Administration Form">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="touch-icon.png" />

    <link rel="icon" href="touch-icon.png" />
    <meta name="msapplication-TileImage" content="touch-icon.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
     <![endif]-->

    <title>Localization Administration</title>

    <!-- combined CSS file - build with gulp -->
    <!--<link href="build/app.min.css" rel="stylesheet" />-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />-->


    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="css/localizationAdmin.css" rel="stylesheet"/>
    <style>
        .colorCheck {
            color: green;
        }
        .hrstyle {
            margin: 10px 0;
        }
    </style>
    
</head>
<body ng-app="app">

    <div id="TitleBar">
        <a href="#/albums">
            <img src="images/Westwind.Localization_128.png"
                 style="height: 35px; float: left" />
            <div style="float: left; margin-left: 5px; line-height: 1.2">
                <i style="color: steelblue; font-size: 0.8em; font-weight: bold;">West Wind Globalization</i><br />
                <i style="color: whitesmoke; font-size: 1.25em; font-weight: bold;">Localization Administration</i>
            </div>
        </a>
    </div>

    <div class="banner">
        <nav id="TopMenu" class="pull-right">
            <!--<a href="#/albums" ng-hide="searchVisible" ng-class="{ selected: activeTab == 'albums'}"><img src="images/record.png" title="Albums" style="height: 20px; vertical-align: top;" /> <span>Albums</span></a>-->
            <!--<a href="#/artists" ng-hide="searchVisible" ng-class="{ selected: activeTab == 'artists'}"><img src="images/artists32.png" title="Artists" style="height: 20px" /> <span>Artists</span></a>-->
            <!--<a href="javascript: window.location.reload();" ng-class="{ selected: activeTab == 'about'}"><i class=" fa fa-info-circle" title="About" style="font-size: 165%;vertical-align: bottom"></i> <span>About</span></a>-->
        </nav>

    </div>

<div style="margin-top: 50px; min-width: 768px" ng-controller="listController as view" ng-cloak>

    <div id="ErrorMessage" class="alert alert-{{view.error.cssClass}} alert-dismissable"
         style="border-radius: 0; margin-bottom: 0"
         ng-show="view.error.message">
        <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
        <i class="fa fa-{{view.error.icon}}"></i> &nbsp;&nbsp;<strong>{{view.error.message}}</strong>
    </div>


    <div style="position: relative; height: 700px;">

        <div id="ListPanel" class="col-sm-3">

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input id="SearchResources"
                       class="form-control"
                       placeholder="Search Resources"
                       type="search"/>
            </div>


            <div class="form-group">
                <select id="ResourceIdList" ng-model="view.resourceId"
                        ng-change="view.onResourceIdChange(resource)"
                        size="2" class="form-control">
                    <option ng-repeat="resource in view.resourceList"
                            value="{{resource.ResourceId}}"
                            style="{{resource.Style}}">
                        {{resource.ResourceId}}
                    </option>
                </select>
            </div>
        </div>

        <div id="ContentPanel" class="col-sm-8">

           

            <div id="ResourceList" class="well"
                 style="margin-bottom: 2px; padding: 10px; background: #f2f2f2;">

                <label style="font-size: 15pt; color: darkred; font-weight: bold;">
                    {{view.resourceItem.ResourceId}}
                </label>

                <div class="separator"></div>

                <div id="resourcegroup_{{$index + 1}}" class="resource-group" 
                     ng-repeat="string in view.resourceStrings">

                    <div class="input-group" style="margin-top: 2px;">
                        <span class="input-group-addon active" style="width: 70px; cursor: pointer"
                              ng-click="view.onLocaleIdChanged(string.LocaleId)">
                            <div style="float: left; width: 70px; font-weight: bold; color: darkred;">
                                {{string.LocaleId ? string.LocaleId : 'Invariant'}}
                            </div>
                        </span>
                        <form name="resourceForm" id="form1">
                            <textarea id="value_{{$index+1}}"
                                      class="form-control"
                                      data-localeId="{{string.LocaleId}}"
                                      ng-model="string.Value"
                                      ng-keydown="view.onResourceKeyDown($event,string,resourceForm)"
                                      title="Ctl-Enter to save and move to next field">                                                                    
                            </textarea>
                        </form>
                        <span class="input-group-addon" title="Save change"
                              ng-class="{'color-check': resourceForm.$dirty }"
                              ng-enabled="resourceForm.$dirty"
                              ng-click="view.onStringUpdate(string)"><i class="fa fa-check-circle"></i></span>
                        <span class="input-group-addon" title="Translate"                              
                              ng-click="view.onTranslateClick($event,string)"><i class="fa fa-flag-o"></i></span>
                        <span class="input-group-addon" title="Comment"
                                  ng-click="view.onStringUpdate(string)"><i class="fa fa-comment-o"></i></span>                                                
                    </div>

                </div>

                <!--<div class="separator" style="margin-top: 10px;margin-bottom:10px"></div>-->

                <div class="btn-group" style="margin-top: 12px;">
                    <button class="btn btn-sm btn-default" title="Add new Resource"
                            data-toggle="modal" data-target="#AddResourceDialog">
                        <i class="fa fa-plus"></i> Add
                    </button>
                    <button class="btn btn-sm btn-default" title="Delete all entries for this Resource"><i class="fa fa-remove"></i> Delete</button>
                    <button class="btn btn-sm btn-default" title="Rename this Resource for all languages"><i class="fa fa-exchange"></i> Rename</button>
                </div> {{view.localeId}}
            </div>



            <div class="well well-sm" style="margin-top: 25px;">

                <div class=" form-group">
                    <label>ResourceSet</label>
                    <select class="form-control" ng-model="view.resourceSet"
                            ng-change="view.onResourceSetChange()"
                            ng-options="set for set in view.resourceSets"></select>

                    <div class="btn-group" style="margin-top: 12px;">
                        <button class="btn btn-sm btn-default" title="Add new ResourceSet"><i class="fa fa-plus"></i> Add</button>
                        <button class="btn btn-sm btn-default" title="Delete ResourceSet"><i class="fa fa-remove"></i> Delete</button>
                        <button class="btn btn-sm btn-default" title="Rename ResourceSet"><i class="fa fa-exchange"></i> Rename</button>
                    </div>
                </div>

            </div>



                <!-- <div class="form-group">
                <label>Translated Text ({{view.localeId ? view.localeId : 'Invariant'}})</label>
                <textarea ng-model="view.resourceItem.Value" style="height: 100px;"
                          class="form-control" class="form-control">
                        </textarea>


            </div> -->

            <!--<div class=" form-group">
                <label>Languages</label>
                <select class="form-control" size="2" style="height: 65px;"
                        ng-model="view.localeId"
                        ng-change="view.onLocaleIdChanged()">
                    <option ng-repeat="localeId in view.localeIds"
                            value="{{localeId.LocaleId}}"
                            selected="{{ localeId.LocaleId == vm.localeId ? 'selected' : '' }}">
                        {{localeId.Name}}
                    </option>
                </select>
            </div>-->




            <div ng-include src="'TranslateDialog.html'">
            </div>

            <div ng-include src="'AddResourceDialog.html'">
            </div>

        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="scripts/ww.jquery.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>


    <script>

    </script>





    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="scripts/ww.angular.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <!-- combined app scripts - build with gulp -->
    <!--<script src="js/app.min.js"></script>-->

    <script src="app/app.js"></script>
    <script src="app/localizationService.js"></script>
    <script src="app/listController.js"></script>
    <script src="app/translateController.js"></script>
    
</body>
</html>