<div class="well well-sm" style="margin-top: 25px;">

    <div class=" form-group" style="margin-bottom: 0;">
        <label>ResourceSet</label>
        <select class="form-control" ng-model="view.resourceSet"
                ng-change="view.onResourceSetChange()"
                ng-options="set for set in view.resourceSets"></select>
    </div>

    <div class="btn-group" style="margin-top: 12px;">
        <button class="btn btn-sm btn-default" title="Add new ResourceSet"
                ng-click="view.onAddResourceClick()"><i class="fa fa-plus"></i> Add</button>
        <button class="btn btn-sm btn-default" title="Delete ResourceSet" disabled="disabled"><i class="fa fa-remove"></i> Delete</button>
        <button class="btn btn-sm btn-default" title="Rename ResourceSet" disabled="disabled"><i class="fa fa-exchange"></i> Rename</button>
    </div>

</div>