<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="Westwind.Utilities" version="2.62" targetFramework="net45" userInstalled="true" />
  <package id="CommonMark.NET" version="0.8.5" targetFramework="net45" userInstalled="true" />
</packages>