<?xml version="1.0"?>
<configuration>
	<!-- This section is required for configuration of the resource provider -->
	<configSections>
    <section name="DbResourceProvider" type="Westwind.Globalization.DbResourceProviderSection,Westwind.Globalization" requirePermission="false"/>	
	</configSections>
  
  <!-- Using ConnectionStrings entry. You can also use a full SQL connection string. -->
  <DbResourceProvider connectionString="DevSamples" 
                        resourceTableName="Localizations"
                        projectType="WebForms"
                        designTimeVirtualPath="/Westwind.GlobalizationWeb" 
                        showLocalizationControlOptions="true"
                        showControlIcons="true" 
                        localizationFormWebPath="~/localizationadmin/LocalizationAdmin.aspx" 
                        addMissingResources="false" 
                        useVsNetResourceNaming="false"   
                        stronglyTypedGlobalResource="~/_Classese/Resources.cs,AppResources"
                        bingClientID =""
                        bingClientSecret=""                                      
                      />

  <!-- ResourceProvider Configuration section -->
	<connectionStrings>		     
		<add name="DevSamples_Local" connectionString="server=.;database=DevSamples;integrated security=true;" />
		<add name="DevSamples" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DevSamples.mdf;Integrated Security=True;User Instance=True;"/>
	</connectionStrings>
  
  <system.web>
		<!-- ASP.NET ResourceProvider is configured here  
           if no provider default ResX provider is used 
     -->
		<globalization resourceProviderFactoryType="Westwind.Globalization.DbSimpleResourceProviderFactory,Westwind.Globalization"/>
		<!--<globalization resourceProviderFactoryType="Westwind.Globalization.DbResourceProviderFactory,Westwind.Globalization"  />-->
		
    <!-- Medium trust works fine. Note you'll need WRITE access in folders to write out resources -->
		<trust level="Medium" originUrl="(http://www.google.com/translate_t)|(http://babelfish.yahoo.com/translate_txt)"/>
		<!-- 
             Set compilation debug="true" to insert debugging   
            symbols into the compiled page. Because thi
            affects performance, set this value to true only  
             during development. 
    -->
		<compilation debug="true">
		</compilation>
    <customErrors mode="RemoteOnly" />
		<httpModules>
		</httpModules>
		<!-- 
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user.  
        -->
		<authentication mode="Windows">
		</authentication>
		<identity impersonate="false" />
		<authorization>
			<!--<deny users="?"/>-->
		</authorization>
	</system.web>
</configuration>

